
.menu-name{
  font-size: 14px;
  margin-left: -3px
}
.app-toggle{
  padding-left:12px;
  padding-right: 3px;
  width: 100%;
}
.welcome-box{
  width:100%;
  float: right;
  margin-top: -56px;
  margin-right: -90px
}
.menu-background{
  background-color: #64b5f6;
 // height: 17vh;
}