<div class="user-profile menu-background">
    <div class="profile-img">
         <div>
             <img src="assets/images/user_icon.png" alt="user">
         </div>
        <div class="welcome-box">
            <a style="color: black;"> 
            Welcome {{userName}}
         </a>
        </div>
    </div>    
</div>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'" class="app-toggle">
            <mat-icon style="margin-left: -8px">{{ menuitem.icon }}</mat-icon> 
            <span class="menu-name">{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>
    </mat-list-item>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'sublink'">
            <button mat-icon-button [matMenuTriggerFor]="menu4">
                <mat-icon>more_vert</mat-icon>
                <span class="sublink" >{{ menuitem.name }}</span> 
            </button>
            <mat-menu #menu4="matMenu">
                <a class="" appAccordionToggle [routerLink]="['/onboarding']" >
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>VS Blueprint onboarding</span>
                </button>
            </a>
            <a appAccordionToggle [routerLink]="['/vsblueprint']" >
                <button mat-menu-item>
                    <mat-icon>voicemail</mat-icon>
                    <span>VS Blueprints</span>
                </button>
            </a>
            </mat-menu>
        </a>
    </mat-list-item>
</mat-nav-list>